@model NHSD.BuyingCatalogue.Identity.Api.ViewModels.PasswordReset.ForgotPasswordViewModel

<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper">
        <div data-test-id="login-page">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                    <h1 data-test-id="page-title" class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">Enter your email address</h1>
                    <h2 data-test-id="page-description" class="nhsuk-heading-s nhsuk-u-margin-bottom-5">You'll be sent a link to the address you provide so you can choose a password.</h2>
                </div>
            </div>
            <pager current-page="1" total-pages="5" link-url="/page"></pager>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                    <div data-test-id="error-summary" asp-nhs-validation-summary></div>

                    <form asp-controller="PasswordReset" asp-action="ForgotPassword" method="post" class="nhsuk-form-group)">
                        <div id="email-field" data-test-id="email-field" class="@(ViewData.ModelState.Keys.Contains("EmailAddress") ? "nhsuk-form-group--error" : "")">
                            <div data-test-id="text-field-input">
                                <div class="nhsuk-form-group">
                                    <label asp-for="EmailAddress" class="nhsuk-label"></label>
                                    <span class="nhsuk-error-message" asp-validation-for="EmailAddress"></span>
                                    <input asp-for="EmailAddress" class="nhsuk-input" data-test-id="form-email-address" />
                                </div>
                            </div>
                        </div>

                        <button class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-3" type="submit" data-test-id="submit-button">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
