@model NHSD.BuyingCatalogue.Identity.Api.ViewModels.PasswordReset.ForgotPasswordViewModel

<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper">
        <div data-test-id="login-page">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                    <h1 data-test-id="page-title" class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">Enter your email address</h1>
                    <h2 data-test-id="page-description" class="nhsuk-heading-s nhsuk-u-margin-bottom-5">You'll be sent a link to the address you provide so you can choose a password.</h2>
                </div>
            </div>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                    <div data-test-id="error-summary" nhs-validation-summary></div>
                    <form data-test-id="input-form" asp-controller="PasswordReset" asp-action="ForgotPassword" novalidate method="post" class="nhsuk-form-group">
                        <div nhs-validation-input asp-for="EmailAddress"></div>
                        <button class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-3" type="submit" data-test-id="submit">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
