@model NHSD.BuyingCatalogue.Identity.Api.ViewModels.PasswordReset.PasswordResetViewModel

@{
    ViewData["PageTitle"] = "NHSD Buying Catalogue Login";
    ViewData["PageDescription"] = "Welcome to the login page for the NHSD Buying Catalogue.";
}

<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper">
        <div data-test-id="reset-password-page" class="bc-t-font-color--white">

            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                    <h1 data-test-id="reset-password-page-title" class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">Choose your password</h1>
                    <h2 data-test-id="reset-password-page-description" class="nhsuk-heading-s nhsuk-u-margin-bottom-5">Please read the password policy before proceeding</h2>
                </div>
            </div>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">
                    
                    <div data-test-id="reset-password-page-information">
                        <p>
                            Your password must be at least ten characters in length and match on confirmation.
                        </p>
                        <p>
                            It must contain at least 3 of the following 4 character types:
                        </p>
                        <ul>
                            <li>lower case letters (a-z)</li>
                            <li>upper case letters (A-Z)</li>
                            <li>numbers (0-9)</li>
                            <li>special characters (e.g. !$%^&*)</li>
                        </ul>
                    </div>
                    

                    <form asp-controller="PasswordReset" asp-action="ResetPassword" method="post">

                        <div data-test-id="password-field">
                            <div data-test-id="text-field-input">
                                <div class="nhsuk-form-group">
                                    <label asp-for="Password" class="nhsuk-label"></label>
                                    <input asp-for="Password" class="nhsuk-input" data-test-id="reset-password" />
                                    <span asp-validation-for="Password"></span>
                                </div>
                            </div>
                        </div>

                        <div data-test-id="confirm-password-field">
                            <div data-test-id="text-field-input" class="bc-c-login-form-password-field">
                                <div class="nhsuk-form-group">
                                    <label asp-for="ConfirmPassword" class="nhsuk-label"></label>
                                    <input asp-for="ConfirmPassword" class="nhsuk-input" data-test-id="confirm-reset-password"/>
                                    <span asp-validation-for="Password"></span>
                                </div>
                            </div>
                        </div>

                        <button class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-3" type="submit" data-test-id="reset-password-submit-button">
                            Save password
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
