version: '3.5'
services:
  nhsd.buyingcatalogue.identity.api.user.db:
    image: ${REGISTRY:-nhsd}/buying-catalogue/identity-api-user-db:${TAG:-latest}
    build: 
      context: src/NHSD.BuyingCatalogue.Identity.UserDatabase
    container_name: identity_api_user_db
    volumes:
      - nhsd_identity_user_db_volume:/var/opt/mssql/
    networks:
      - nhsd_bcnetwork
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=MyTestPassword123!
      - MSSQL_PID=Express
      - DB_NAME=${NHSD_LOCAL_DB_NAME:-CatalogueUsers}
      - NHSD_PASSWORD=DisruptTheMarket1!
    ports:
      - "${NHSD_LOCAL_DB_PORT:-1533}:1433"
      
  nhsd.buyingcatalogue.identity.api:
    image: ${REGISTRY:-nhsd}/buying-catalogue/identity-api:${TAG:-latest}
    container_name: identity_api
    build: 
      context: .
      dockerfile: src/NHSD.BuyingCatalogue.Identity.Api/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - CLIENTS__1__REDIRECTURLS__0=http://localhost:8072/signin-oidc
      - CLIENTS__1__REDIRECTURLS__1=http://host.docker.internal:8072/signin-oidc
      - CLIENTS__1__POSTLOGOUTREDIRECTURLS__0=http://localhost:8072/signout-callback-oidc
      - ConnectionStrings__CatalogueUsers=${NHSD_CATALOGUEUSERS_DB:-Data Source=nhsd.buyingcatalogue.identity.api.user.db;Initial Catalog=CatalogueUsers;MultipleActiveResultSets=True;User Id=NHSD;Password=DisruptTheMarket1!}
      - ISSUERURL=http://host.docker.internal:8070
    depends_on:
      - nhsd.buyingcatalogue.identity.api.user.db
    networks:
      - nhsd_bcnetwork
    ports:
      - "8070:80"

  nhsd.buyingcatalogue.organisations.api:
    image: ${REGISTRY:-nhsd}/buying-catalogue/organisations-api:${TAG:-latest}
    container_name: organisations_api
    build: 
        context: .
        dockerfile: src/NHSD.BuyingCatalogue.Organisations.Api/Dockerfile
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - AUTHORITY=http://host.docker.internal:8070
        - ConnectionStrings__CatalogueUsers=${NHSD_CATALOGUEUSERS_DB:-Data Source=nhsd.buyingcatalogue.identity.api.user.db;Initial Catalog=CatalogueUsers;MultipleActiveResultSets=True;User Id=NHSD;Password=DisruptTheMarket1!}
    depends_on:
      - nhsd.buyingcatalogue.identity.api.user.db
    networks:
        - nhsd_bcnetwork
    ports:
        - "8075:80"

  nhsd.buyingcatalogue.identity.api.sampleresource:
    image: ${REGISTRY:-nhsd}/buying-catalogue/identity/api-sampleresource:${TAG:-latest}
    container_name: identity_api_sample_resource
    build: 
        context: .
        dockerfile: samples/NHSD.BuyingCatalogue.Identity.Api.SampleResource/Dockerfile
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - AUTHORITY=http://host.docker.internal:8070
    networks:
        - nhsd_bcnetwork
    ports:
        - "8071:80"
        
  nhsd.buyingcatalogue.identity.api.samplemvcclient:
    image: ${REGISTRY:-nhsd}/buying-catalogue/identity/api-samplemvcclient:${TAG:-latest}
    container_name: identity_api_sample_mvc_client
    build: 
        context: .
        dockerfile: samples/NHSD.BuyingCatalogue.Identity.Api.SampleMvcClient/Dockerfile
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - AUTHORITY=http://host.docker.internal:8070
        - SAMPLERESOURCEURL=http://host.docker.internal:8071/Identity
    networks:
        - nhsd_bcnetwork
    ports:
        - "8072:80"

  nhsd.buyingcatalogue.identity.api.samplemvcclient.invalidsecret:
    image: ${REGISTRY:-nhsd}/buying-catalogue/identity/api-samplemvcclient-invalidsecret:${TAG:-latest}
    container_name: identity_api_sample_mvc_client_invalidsecret
    build: 
        context: .
        dockerfile: samples/NHSD.BuyingCatalogue.Identity.Api.SampleMvcClient/Dockerfile
    environment:
        - ASPNETCORE_ENVIRONMENT=Development
        - AUTHORITY=http://host.docker.internal:8070
        - SAMPLERESOURCEURL=http://host.docker.internal:8071/Identity
        - CLIENTSECRET=Invalid
    networks:
        - nhsd_bcnetwork
    ports:
        - "8073:80"
    
  selenium-hub:
    image: selenium/hub
    container_name: selenium-hub
    ports:
      - "4444:4444"
  chrome:
    image: selenium/node-chrome
    volumes:
      - /dev/shm:/dev/shm
    depends_on:
      - selenium-hub
    environment:
      - HUB_HOST=selenium-hub
      - HUB_PORT=4444
networks: 
  nhsd_bcnetwork:
    name: nhsd_bcnetwork
    driver: bridge

volumes:
  nhsd_identity_user_db_volume:
    name: nhsd_identity_user_db_volume
