@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to the Sample MVC Client</h1>
    <p>The privacy page requires authentication and will redirect you to the identity server login pages</p>
</div>
