@model NHSD.BuyingCatalogue.Identity.Api.SampleMvcClient.ViewModels.UserInfoViewModel

@{
    ViewData["Title"] = "User Information123";
}
<h1>@ViewData["Title"]</h1>

<h3>Here are your additional details.</h3>

<br />

@if (User.Identity.IsAuthenticated)
{
    <table>
        @foreach (var claim in Model.UserClaims)
        {
            <tr>
                <td>@claim.Type</td>
                <td>@claim.Value</td>
            </tr>
        }
    </table>
    <br/>
    <h3>Here is your Access Token.</h3>
    <p>@Model.AccessToken</p>
}