{% extends 'includes/layout.njk' %}
{% from './components/text-field.njk' import textField %}
{% from 'components/view-data-link/macro.njk' import viewDataLink %}
{% from 'components/button/macro.njk' import button %}


{% block body %}
  <div data-test-id="login-page" class="bc-f-font-color-white">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
        <h1 data-test-id="login-page-title" class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">{{ title }}</h1>
        <h2 data-test-id="login-page-description" class="nhsuk-heading-s nhsuk-u-margin-bottom-5">{{ description }}</h2>
      </div>
    </div>
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-one-half">
        <form>
          {{ textField({
            id: "email",
            dataTestId: "email-field",
            label: emailFieldTextLabel
          }) }}

          {{ textField({
            id: "password",
            dataTestId: "password-field",
            label: passwordFieldTextLabel,
            type: "password",
            classes: "bc-c-login-form-password-field"
          }) }}

          {{ viewDataLink({
            text: passwordResetLinkText,
            data: "a",
            dataTestId: "forgot-password-link",
            classes:"bc-c-login-page-link"
          }) }}

          {{ button({
            text: buttonText,
            classes: "nhsuk-button--reverse nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-3"
          }) }}

          {{ viewDataLink({
            text: requestAccountLinkText,
            data: "a",
            dataTestId: "request-account-link",
            classes:"bc-c-login-page-link "
          }) }}
        </form>
      </div>
    </div>
  </div>
  
{% endblock %}
