.bc-c-login-page-link a {
    color: $color_nhsuk-white;
}

.bc-c-login-form-password-field .nhsuk-form-group {
    margin-bottom: 2;
}

.bc-u-background-colour--blue {
    background-color: $color_nhsuk-blue;
}

.nhsuk-error-message ul {
    list-style: none;
    padding-left: 0;
}