// NHS.UK frontend styles
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Buying catalogue library styles
@import 'node_modules/buying-catalogue-components/app/styles/main';

// Buying catalogue login page styles
@import 'login';