@model NHSD.BuyingCatalogue.Identity.Api.ViewModels.Account.ForgotPasswordViewModel

@{
    ViewData["PageTitle"] = "Enter your email address";
    ViewData["PageDescription"] = "You'll be sent a link to the address you provide so you can choose a password.";
}

<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper">
        <div data-test-id="login-page">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                    <div class="nhsuk-back-link">
                        <a nhs-back-link asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]" back-link-label="Back to log in"></a>
                    </div>
                    <div data-test-id="error-summary" nhs-validation-summary title="There is a problem"></div>
                    <h1 data-test-id="page-title" class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">@ViewData["PageTitle"]</h1>
                    <p data-test-id="page-description" class="nhsuk-heading-s nhsuk-u-margin-bottom-5">@ViewData["PageDescription"]</p>
                </div>
            </div>
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                    <form data-test-id="input-form" asp-controller="Account" asp-action="ForgotPassword" novalidate method="post" class="nhsuk-form-group">
                        <div nhs-validation-input asp-for="EmailAddress" input-data-test-id="input-email-address" error-data-test-id="error-email-address" field-data-test-id="field-email-address"></div>
                        <button class="nhsuk-button nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-3" type="submit" data-test-id="submit-button">
                            Submit
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
