@{
    ViewData["PageTitle"] = "You've been sent a link";
    ViewData["PageDescription"] = "A link to set your password has been sent to the email address you provided.";
}

<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper">
        <div data-test-id="login-page">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                    <div data-test-id="go-back-link" class="nhsuk-back-link">
                        <a class="nhsuk-back-link__link" asp-controller="Account" asp-action="Login">
                            < Back to log in
                        </a>
                    </div>
                    <h1 data-test-id="page-title" class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">@ViewData["PageTitle"]</h1>
                    <h2 data-test-id="page-description" class="nhsuk-heading-s nhsuk-u-margin-bottom-5">@ViewData["PageDescription"]</h2>
                </div>
            </div>
        </div>
    </main>
</div>
