@model NHSD.BuyingCatalogue.Identity.Api.ViewModels.Account.LoginViewModel

@{
    ViewData["PageTitle"] = "NHSD Buying Catalogue Login";
    ViewData["PageDescription"] = "Welcome to the login page for the NHSD Buying Catalogue.";
}

<div class="bc-u-background-colour--blue">
    <div class="nhsuk-width-container">
        <main class="nhsuk-main-wrapper">
            <div data-test-id="login-page" class="bc-t-font-color--white">

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-two-thirds">
                        <h1 data-test-id="login-page-title" class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">Buying Catalogue log in</h1>
                        <h2 data-test-id="login-page-description" class="nhsuk-heading-s nhsuk-u-margin-bottom-5">Enter your details to access the full functionality of this website.</h2>
                    </div>
                </div>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                        <form asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">

                            <input type="hidden" asp-for="ReturnUrl" />

                            <div data-test-id="email-field">
                                <div data-test-id="text-field-input">
                                    <div class="nhsuk-form-group">
                                        <label asp-for="EmailAddress" class="nhsuk-label"></label>
                                        <input asp-for="EmailAddress" class="nhsuk-input" data-test-id="login-email-address" />
                                        <span asp-validation-for="EmailAddress"></span>
                                    </div>
                                </div>
                            </div>

                            <div data-test-id="password-field">
                                <div data-test-id="text-field-input" class="bc-c-login-form-password-field">
                                    <div class="nhsuk-form-group">
                                        <label asp-for="Password" class="nhsuk-label"></label>
                                        <input asp-for="Password" class="nhsuk-input" data-test-id="login-password" />
                                        <span asp-validation-for="Password"></span>
                                    </div>
                                </div>
                            </div>

                            <div data-test-id="forgot-password-link" class="bc-c-data-link bc-c-login-page-link">
                                <a asp-action="ResetPassword" asp-route-returnurl="@ViewData["ReturnUrl"]" target="_blank">
                                    Forgot password?
                                </a>
                            </div>

                            <button class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-3" type="submit" data-test-id="login-submit-button">
                                Log in
                            </button>

                            <div asp-validation-summary="ModelOnly"></div>

                            <div class="bc-c-data-link bc-c-login-page-link ">
                                <a data-test-id="request-account-link" asp-action="Registration">
                                    Don&#39;t have an account? Request one now
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
