@model NHSD.BuyingCatalogue.Identity.Api.ViewModels.Account.LogoutViewModel

@{
    ViewData["PageTitle"] = "NHSD Buying Catalogue Login";
    ViewData["PageDescription"] = "Log out confirmation for the NHSD Buying Catalogue.";
}

<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent">

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                <h1 data-test-id="login-page-title" class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">Buying Catalogue confirm log out</h1>
                <h2 data-test-id="login-page-description" class="nhsuk-heading-s nhsuk-u-margin-bottom-5">Would you like to log out of the Buying Catalogue?</h2>
            </div>
        </div>

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-half">
                <form asp-controller="Account" asp-action="Logout" method="post">
                    <input type="hidden" name="logoutId" value="@Model.LogoutId" />
                    <button class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-3" type="submit">
                        Yes
                    </button>
                </form>
            </div>
        </div>
    </main>
</div>
