@{
    ViewData["PageTitle"] = "NHSD Buying Catalogue Registration";
    ViewData["PageDescription"] = "Welcome to the registration page for the NHSD Buying Catalogue.";
}

    <div class="nhsuk-width-container">
        <main class="nhsuk-main-wrapper" id="maincontent">
            <div data-test-id="registration-page" class="bc-t-font-color--white">

                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-two-thirds">
                        <h1 data-test-id="registration-page-title" class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">Request Buying Catalogue account</h1>
                        <h2 data-test-id="registration-page-description" class="nhsuk-heading-s nhsuk-u-margin-bottom-5">This is how to register for a user account. You’ll need one to place orders on the Buying Catalogue.</h2>
                    </div>
                </div>
                <div class="nhsuk-grid-row">
                    <div class="nhsuk-grid-column-one-half">
                        <div data-test-id="registration-information">
                            <p>
                                The button below will open an email for you to request an account. You’ll need to provide your <b> name, telephone number, email address and your organisation’s ODS code.</b>
                            </p>
                            <p>
                                Once the correct information has been received, you’ll be sent an email with a link so you can create a password for your account.
                            </p>
                            <p>
                                The link can be used only once to set up one account, and will be valid for 24 hours from the time you receive the email.
                            </p>
                            <p>
                                The Buying Catalogue team aims to respond to account requests within 5 working days.
                            </p>
                        </div>

                        <a href="mailto:buying.catalogue@nhs.net?Subject=Registration&body=name%20=%0Aemail%20address%20=%0Aods%20code%20=" class="nhsuk-button nhsuk-button--reverse nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-3" type="button" data-test-id="request-account-button">
                            Request an accounts
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
