@{
    ViewData["PageTitle"] = "Request Buying Catalogue account";
    ViewData["PageDescription"] = "This is how to register for a user account. You’ll need one to place orders on the Buying Catalogue.";
}

<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper">
        <div data-test-id="registration-page">

            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                    <div class="nhsuk-back-link">
                        <a nhs-back-link asp-controller="Account" asp-action="Login" asp-route-returnUrl="@ViewData["ReturnUrl"]" back-link-label="Back to log in"></a>
                    </div>
                    <h1 data-test-id="registration-page-title" class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">@ViewData["PageTitle"]</h1>
                    <p data-test-id="registration-page-description" class="nhsuk-heading-s nhsuk-u-margin-bottom-5">@ViewData["PageDescription"]</p>

                    <div data-test-id="registration-information">
                        <p>
                            The button below will open an email for you to request an account. You’ll need to provide your <b> name, telephone number, email address and your organisation’s ODS code.</b>
                        </p>
                        <p>
                            Once the correct information has been received, we’ll need to confirm your organisation has signed its Organisation End User Agreement. You’ll then be sent an email with a link so you can create a password for your account.
                        </p>
                        <p>
                            The link can be used only once to set up one account, and will be valid for 24 hours from the time you receive the email.
                        </p>
                        <p>
                            The Buying Catalogue team aims to respond to account requests within 5 working days.
                        </p>
                        <p>
                            If for any reason the button does not work, you can send your details to buying.catalogue@nhs.net with the subject line: Request an account.
                        </p>
                    </div>

                    <a href="mailto:buying.catalogue@nhs.net?Subject=Request%20an%20account&body=To%20the%20Buying%20Catalogue%20team%2C%0A%0A%0AI%20wish%20to%20register%20for%20a%20user%20account%20on%20the%20Buying%20Catalogue.%20My%20details%20are%20as%20follows%3A%0A%0AName%3A%0A%0ATelephone%20number%3A%0A%0AEmail%20address%3A%0A%0AOrganisation%E2%80%99s%20ODS%20code%3A%0A%0A%0A%0A%0A%0AWhat%20next%3F%0A%0AOnce%20the%20correct%20information%20has%20been%20received%2C%20you%E2%80%99ll%20be%20sent%20an%20email%20with%20a%20link%20so%20you%20can%20create%20a%20password%20for%20your%20account.%0A%0AThe%20link%20can%20be%20used%20only%20once%20to%20set%20up%20one%20account%2C%20and%20will%20be%20valid%20for%2024%20hours%20from%20the%20time%20you%20receive%20the%20email.%0A%0AThe%20Buying%20Catalogue%20team%20aims%20to%20respond%20to%20account%20requests%20within%205%20working%20days." class="nhsuk-button nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-3" type="button" data-test-id="request-account-button">
                        Request an account
                    </a>
                </div>
            </div>
        </div>
    </main>
</div>
