@model NHSD.BuyingCatalogue.Identity.Api.ViewModels.Account.ResetPasswordViewModel

@{
    ViewData["PageTitle"] = "Password set";
    ViewData["PageDescription"] = "You can now use your new password to log in.";
}

<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper">
        <div data-test-id="reset-password-confirmation-page">

            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">

                    <div data-test-id="go-back-link" class="bc-c-data-link">
                        <a class="nhsuk-back-link__link" asp-controller="Account" asp-action="Login">< Back to log in</a>
                    </div>

                    <h1 data-test-id="reset-password-confirmation-page-title" class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">@ViewData["PageTitle"]</h1>
                    <h2 data-test-id="reset-password-confirmation-page-description" class="nhsuk-heading-s nhsuk-u-margin-bottom-5">@ViewData["PageDescription"]</h2>
                </div>
            </div>
        </div>
    </main>
</div>
