@model NHSD.BuyingCatalogue.Identity.Api.ViewModels.Account.ResetPasswordViewModel

@{
    ViewData["PageTitle"] = "NHSD Buying Catalogue Reset Password Confirmation";
    ViewData["PageDescription"] = "Welcome to the reset password confirmation page for the NHSD Buying Catalogue.";
}

<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper">
        <div data-test-id="reset-password-confirmation-page">

            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">

                    <div class="bc-c-data-link">
                        <a data-test-id="back-to-login" asp-controller="Account" asp-action="Login">< Back to log in</a>
                    </div>

                    <h1 data-test-id="reset-password-confirmation-page-title" class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">Password set</h1>
                    <h2 data-test-id="reset-password-confirmation-page-description" class="nhsuk-heading-s nhsuk-u-margin-bottom-5">You can now use your new password to log in.</h2>
                </div>
            </div>
        </div>
    </main>
</div>
