@model NHSD.BuyingCatalogue.Identity.Api.ViewModels.Account.ResetPasswordViewModel

@{
    ViewData["PageTitle"] = "Choose your password";
    ViewData["PageDescription"] = "Please read the password policy before proceeding.";
}

<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper">
        <div data-test-id="reset-password-page">

            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">
                    <div data-test-id="error-summary" nhs-validation-summary title="There is a problem"></div>
                    <h1 data-test-id="page-title" class="nhsuk-heading-xl nhsuk-u-margin-bottom-2">@ViewData["PageTitle"]</h1>
                    <p data-test-id="page-description" class="nhsuk-heading-s nhsuk-u-margin-bottom-5">@ViewData["PageDescription"]</p>

                    <div data-test-id="reset-password-page-information">
                        <p>
                            Your password must be at least ten characters in length and match on confirmation.
                        </p>
                        <p>
                            It must contain at least 3 of the following 4 character types:
                        </p>
                        <ul>
                            <li>lower case letters (a-z)</li>
                            <li>upper case letters (A-Z)</li>
                            <li>numbers (0-9)</li>
                            <li>special characters (e.g. !@@#$%^&*)</li>
                        </ul>
                    </div>

                    <form data-test-id="input-form" asp-controller="Account" asp-action="ResetPassword" novalidate method="post">

                        <input type="hidden" asp-for="Token" />
                        <input type="hidden" asp-for="Email" />
                        <div nhs-validation-input asp-for="Password" input-data-test-id="input-reset-password" error-data-test-id="error-reset-password" field-data-test-id="field-reset-password" class="bc-c-login-form-password-field"></div>
                        <div nhs-validation-input asp-for="ConfirmPassword" input-data-test-id="input-confirm-reset-password" error-data-test-id="error-confirm-reset-password" field-data-test-id="field-confirm-reset-password" class="bc-c-login-form-password-field"></div>

                        <button class="nhsuk-button nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-3" type="submit" data-test-id="reset-password-button">
                            Save password
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
